@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .blog-post-page {
    @apply lg:w-full w-full;
  }
  .blog-post-page blockquote {
    @apply border-l-4 border-gray-300 pl-5 mb-5;
  }
  .blog-post-page p {
    @apply my-5 text-lg;
  }
  .blog-post-page a {
    @apply underline text-green-800 dark:text-blue-200;
  }
  .blog-post-page img {
    @apply bg-white p-2 px-5 mx-auto my-5;
  }
  .blog-post-page ul {
    @apply pl-6 mb-5 list-disc;
  }
  .blog-post-page ol {
    @apply pl-6 mb-5 list-decimal;
  }
  .blog-post-page h2 {
    @apply text-2xl font-bold my-5;
  }
  .blog-post-page h3 {
    @apply text-xl font-bold my-5;
  }
}
@layer components {
  .main-grid--default {
    @apply h-screen grid grid-rows-[40px_1fr_56px];
  }
  .main-grid--large {
    @apply lg:grid-rows-[40px_1fr] lg:grid-cols-12;
  }
  .truncated-text {
    /* background-color: red; */
  }
  .truncated-text:after {
    content: "...";
    position: absolute;
    right: 1rem;
    bottom: 0;
    /* background-color: red; */
  }

  .md-content h1,
  .md-content h3,
  .md-content p {
    @apply my-5;
  }
  .md-content h1 {
    @apply text-3xl;
  }
  .md-content h3 {
    @apply text-xl;
  }
  .md-content figure {
    @apply mx-auto text-center w-4/5;
  }
  .md-content ul {
    @apply list-disc px-5;
  }
  .md-content a {
    @apply underline;
  }
}
