@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-grid--default {
    @apply h-screen grid grid-rows-[40px_1fr_56px];
  }
  .main-grid--large {
    @apply lg:grid-rows-[40px_1fr] lg:grid-cols-12;
  }
  .truncated-text {
    /* background-color: red; */
  }
  .truncated-text:after {
    content: "...";
    position: absolute;
    right: 1rem;
    bottom: 0;
    /* background-color: red; */
  }
}
